<h1 class="title">{{title}}</h1>
<hr>

{{#if isEditing}}
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      {{input value=title id="title" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="author">Author Name</label>
      {{input value=author id="author" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      {{textarea value=body id="body" class="form-control" rows="15"}}
    </div>
    <button class="btn btn-primary" {{action 'save'}}>Save</button>
  </form>

{{else}}
  <div class="well">
    <div class="row">
      <div class="col-md-2"><b>Author</b>:</div>
      <div class="col-md-9">{{author}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2"><b>Additional Info</b>:</div>
      <div class="col-md-9">{{body}}</div>
    </div>
    <hr>
  <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
  <button class="btn btn-danger" {{action 'delete'}}>Delete Question</button>
  </div>
{{/if}}


{{outlet}}

<br>
<h2>Answers</h2>
<hr>

{{#if answers}}


  {{#each answer in answers itemController="answer"}}
    <div class="well">
      <p>{{answer.text}}</p>
      <button class="btn btn-xs btn-danger" {{action 'delete'}}>delete</button>
    </div>
  {{/each}}


{{else}}
  <div class="empty-message">
    <p>It looks like there aren't any answers to this question yet! Add one below.</p>
  </div>

{{/if}}

<p>{{#link-to 'new-answer' this class="btn btn-success btn-block"}}New answer{{/link-to}}</p>
