<h1 class="title">{{title}}</h1>
<hr>

{{#if isEditing}}
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      {{input value=title id="title" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="author">Author Name</label>
      {{input value=author id="author" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="description">Body</label>
      {{textarea value=description id="description" class="form-control" rows="15"}}
    </div>
    <button class="btn btn-primary" {{action 'save'}}>Save</button>
  </form>

{{else}}
  <div class="well">
    <div class="row">
      <div class="col-md-2"><b>Author</b>:</div>
      <div class="col-md-9">{{author}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2"><b>Description</b>:</div>
      <div class="col-md-9">{{description}}</div>
    </div>
    <hr>
  <button class="btn btn-warning" {{action 'edit'}}>Edit</button>
  <button class="btn btn-danger" {{action 'delete'}}>Delete Question</button>
  </div>
{{/if}}


{{outlet}}

<br>
<h2>Answers</h2>
<hr>

{{#if answers}}
  {{#each answer in answers itemController="answer"}}
    <div class="well">
      <p>{{answer.text}}</p>
      <button class="btn btn-xs btn-danger" {{action 'delete'}}>delete</button>
    </div>
  {{/each}}
{{else}}

  <div class="alert alert-info" role="alert">
    <p><span class="glyphicon glyphicon-alert" aria-hidden="true">&nbsp;</span> It looks like there aren't any answers to this question yet! Add one below.</p>
  </div>
{{/if}}
<p>{{#link-to 'new-answer' this class="btn btn-success btn-block"}} <span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp;</span>New answer{{/link-to}}</p>
