<h1 class="title">{{title}}</h1>

{{#if isEditing}}
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      {{input value=title id="title" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="author">Author Name</label>
      {{input value=author id="author" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      {{textarea value=body id="body" class="form-control" rows="15"}}
    </div>
    <button class="btn btn-primary" {{action 'save'}}>Save</button>
  </form>

{{else}}
  <div class="question-details">
    <p><b>Author</b>:  {{author}}</p>
    <p><b>Additional Info</b>:   {{body}}</p>
    <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
    <button class="btn btn-danger" {{action 'delete'}}>Delete Question</button>
  </div>
{{/if}}


{{outlet}}


<h2>Answers</h2>

{{#if answers}}

<div class="answer-list">
  {{#each answer in answers itemController="answer"}}
  <div class="answer">
    <p>{{answer.text}}
    <button class="btn btn-xs btn-danger" {{action 'delete'}}>delete</button></p>
  </div>
  {{/each}}
</div>

{{else}}
  <div class="empty-message">
    <p>It looks like there aren't any answers to this question yet! Add one below.</p>
  </div>

{{/if}}

<p>{{#link-to 'new-answer' this class="btn btn-success"}}New answer{{/link-to}}</p>
