<div class="container">
  {{#if isEditing}}
  <h1>{{title}}</h1>
      <h3><span class="glyphicon glyphicon-wrench" aria-hidden="true">&nbsp;Edit</span></h3><br>
      <form>
        <div class="form-group">
          <label for="title"><span class="glyphicon glyphicon-question-sign" aria-hidden="true">&nbsp;Question</span></label>
          {{input value=title id="title" class="form-control"}}
        </div>
        <div class="form-group">
          <label for="author"><span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;Author</span></label>
          {{input value=author id="author" class="form-control"}}
        </div>
        <div class="form-group">
          <label for="body"><span class="glyphicon glyphicon-comment" aria-hidden="true">&nbsp;Description</span></label>
          {{textarea value=description id="description" class="form-control" rows="6"}}
        </div>
        <button class="btn btn-default btn-block" {{action 'save'}}>Save</button>
      </form>
  {{else}}
  <div class="round-box">
    <h1 class="intro">
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    </h1>
    <h1>
      {{title}}
    </h1>
    <hr>
      <div class="row">
        <br>
        <div class="col-md-2 question-page">
          <h4>
            <b>
              Author
            </b>:
          </h4>
        </div>
        <div class="col-md-9 question-page">
          {{author}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-2 question-page">
          <h4>
            <b>
              Description
            </b>:
          </h4>
        </div>
        <div class="col-md-9 question-page">
          {{description}}
        </div>
      </div>
      <br>
    <button class="btn btn-default btn-block" {{action 'edit'}}>Edit</button>
    <button class="btn btn-default btn-block" {{action 'delete'}}>Delete Question</button>
  </div>
  {{/if}}
  <div class="container">
    {{outlet}}
  </div>
</div>
<section id="download" class="content-section text-center">
  <div class="download-section">
    <h2>
      Answers
    </h2>
    <br>
    <div class="container">
      {{#if answers}}
        {{#each answer in answers itemController="answer"}}
          <div class="round-box">
            {{answer.text}}
          <button class="btn btn-xs btn-danger" {{action 'delete'}}>delete</button>
          </div>
        {{/each}}
      {{else}}
      <div class="round-box">
        <h1>
          <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
        </h1>
        <h4>
          It looks like there aren't any answers to this question yet! Add one below.
        </h4>
      </div>
      {{/if}}
      <br>
      <br>
      {{#link-to 'new-answer' this class="btn btn-default btn-block"}}
      <span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp;</span>New answer{{/link-to}}
    </div>
  </div>
</section>
